{% extends 'base.html.twig' %}

{% block body %}
    <div id="map"></div>
    <script type="text/javascript">

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 13.667338259654947, lng: 100.99254100000007},
                zoom: 6
            });

            var imgHotel ='http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=1|FE6256|000000';
            var imgDesti ='http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=1|FE6256|000000';

            var bangkok = new google.maps.Marker({
                position: {lat: 13.7563309, lng: 100.50176510000006},
                map: map,
                title: 'Bangkok'
            });
            var Ayutthaya = new google.maps.Marker({
                position: {lat: 14.3692325, lng: 100.5876634},
                map: map,
                title: 'Ayutthaya'
            });
            var sukhothai = new google.maps.Marker({
                position: {lat: 17.0055573, lng: 99.82637120000004},
                map: map,
                title: 'sukhothai'
            });
            var ChiangMai = new google.maps.Marker({
                position: {lat: 18.787747, lng: 98.99312839999993},
                map: map,
                title: 'Chiang Mai'
            });
            var Phuket = new google.maps.Marker({
                position: {lat: 7.9519331, lng: 98.33808840000006},
                map: map,
                title: 'Phuket'
            });
            var RambuttriVillagePlaza = new google.maps.Marker({
                position: {lat: 13.761824, lng: 100.496243},
                map: map,
                icon:imgHotel,
                title: 'Rambuttri village Plaza'
            });

            var BaanAreGongRiverside = new google.maps.Marker({
                position: {lat: 14.356415, lng: 100.581838},
                map: map,
                icon:imgHotel,
                title: 'Baan Are Gong Riverside Homestay'
            });



        }

    </script>
{% endblock %}

{% block stylesheets %}

{% endblock %}
